// Dependências
@import '../brx-select/mixins';

// Mixins
@mixin pagination-configs {
  @include pagination-tokens;
  @include pagination-default;
  @include pagination-page;
  @include pagination-ellipsis;
  @include pagination-sizes;
  @include pagination-contextual;
  @include pagination-dark-mode;
}

@mixin pagination-tokens {
  --pagination-margin: var(--spacing-scale-base);
  --pagination-select-width: 88px;
  --pagination-size: var(--pagination-medium);
  --pagination-small: 24px;
  --pagination-medium: 32px;
  --pagination-large: 40px;
}

@mixin pagination-default {
  color: var(--color);
  display: flex;
  flex-wrap: wrap;
  font-weight: var(--font-weight);
  justify-content: center;

  brx-pagination-items {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  brx-pagination-item {
    padding: 0;

    @include focus;

    &[data-mode='jump'] {
      &[disabled] {
        opacity: unset;
      }
    }
  }
}

@mixin pagination-page {
  brx-pagination-item {
    &[data-mode='page'] {
      @include hover;
      align-items: center;
      border: 1px solid transparent;
      border-radius: 100em;
      color: var(--interactive);
      display: inline-flex;
      justify-content: center;
      margin: 0 calc(var(--pagination-margin) * 0.5);
      min-height: var(--pagination-size);
      min-width: var(--pagination-size);
      padding: 0 var(--spacing-scale-base);
      white-space: nowrap;

      &[active] {
        background: var(--active);
        color: var(--color-dark);
        font-weight: var(--font-weight-semi-bold);
      }
    }
  }
}

@mixin pagination-ellipsis {
  brx-pagination-ellipsis {
    margin: 0 calc(var(--pagination-margin) * 0.5);
    position: relative;

    brx-button {
      --button-size: var(--pagination-size);
    }

    .brx-pagination-ellipsis-dropdown-content {
      @include scrollbar;
      max-height: 220px;
      min-width: 4em;
      overflow-y: auto;
      z-index: var(--z-index-layer-1);
    }
  }
}

@mixin pagination-sizes {
  @each $size in small, medium, large {
    &[size='#{$size}'] {
      --pagination-size: var(--pagination-#{$size});
    }
  }
}

@mixin pagination-contextual {
  brx-pagination-information {
    align-items: center;
    display: flex;
  }

  brx-pagination-per-page,
  brx-pagination-go-to-page {
    align-items: center;
    display: flex;

    brx-input {
      align-items: center;
      display: flex;

      --input-size: var(--pagination-medium);

      label {
        font-weight: var(--font-weight-regular);
        margin-bottom: 0;
        margin-right: var(--spacing-scale-base);
        padding-bottom: 0;
      }

      input {
        padding-left: var(--spacing-scale-base);
        padding-right: calc(var(--spacing-scale-baseh) + 32px);
        text-align: right;
        width: var(--pagination-select-width);

        &:not(:focus) {
          border-color: transparent;
        }
      }
    }

    brx-select {
      .brx-select-options {
        min-width: 5em;
        right: 0;
        width: auto;
      }
    }
  }

  brx-pagination-arrows {
    align-items: center;
    display: flex;
  }

  brx-select {
    brx-input {
      brx-button {
        bottom: auto;

        position: absolute;
        right: var(--spacing-scale-half);
        top: auto;
        transform: none;

        .brx-button-native {
          margin-top: 0;
        }
      }
    }
  }

  brx-divider {
    border-right-width: var(--divider-size);
    border-top: 0;
  }
}

@mixin pagination-dark-mode {
  &[dark-mode] {
    @include dark-mode;
    @include select-dark-mode;

    brx-pagination-item {
      &[data-mode='page'] {
        &[active] {
          --interactive-rgb: var(--active-rgb);
          background-color: var(--background-light);
          color: var(--active);
        }
      }
    }
  }
}
