@import '../../styles/component-base';
@import 'mixins';

brx-item:not([passthrough]) {
  background: var(--background);

  @include item-configs;
}

brx-item[passthrough] > * {
  width: 100%;
  height: 100%;
  border: none;
  display: block;

  background: var(--background);
  @include item-configs;
}

// Item aplicado em link/botão
brx-item[passthrough] > a {
  color: var(--interactive);

  @include hover;
  @include active;
}

brx-item[passthrough] > button {
  background-color: transparent;
  color: var(--color);

  @include focus;
  @include hover('color');
  @include active('color');
}
