@import '../../styles/component-base';
@import 'mixins';

brx-item {
  display: block;
  @include item-configs;
}

// Item aplicado em link/botão
brx-item a.brx-item-container {
  color: var(--interactive);

  height: auto;

  @include hover;
  @include active;
}

brx-item button.brx-item-container {
  background-color: transparent;
  color: var(--color);

  @include focus;
  @include hover('color');
  @include active('color');
}
