@import '../../styles/component-base';
@import 'mixins';

brx-item > .brx-item-container {
  width: 100%;
  height: 100%;

  border: none;
  display: block;

  background: var(--background);
  @include item-configs;
}

// Item aplicado em link/botão
brx-item > a.brx-item-container {
  color: var(--interactive);

  height: auto;

  @include hover;
  @include active;
}

brx-item > button.brx-item-container {
  background-color: transparent;
  color: var(--color);

  @include focus;
  @include hover('color');
  @include active('color');
}
