/*!
 * GOVBR-DS: Design System de Governo
 * Versão 3.0.0
 * Suporte:
   - Serpro: DIDES/SUPSE/SESEP
 */

// Carregar configurações
@import "base";

// Gerar tokens
@import "tokens";

// Reset css
@import "utilities/normalize";

// Componentes
@import "components";
