@import '../../styles/component-base';
@import 'mixins';
@import 'signin';
@import 'magic';

brx-button {
  display: inline-block;

  @include button-configs;

  a.brx-button-native {
    font-weight: var(--font-weight-semi-bold);
    text-decoration: none !important;
  }
}

brx-button[signin] {
  @include signin-configs;
}

brx-button[magic] {
  @include magic-configs;

  .brx-button-native {
    @include button-magicbutton;
  }
}
